<nav class="sidebar-main" [class.collapsed]="isCollapsed">
  <!-- Encabezado -->
  <div class="sidebar-header">
    <a routerLink="/" class="sidebar-logo">
      <img src="../../../../../assets/icons/logo@2x.png" alt="Logo" width="50" />
    </a>

    <button class="btn-toggle" (click)="toggleSidebar()">
      <i class="fa-solid" [ngClass]="isCollapsed ? 'fa-arrow-right' : 'fa-arrow-left'"></i>
    </button>
  </div>

  <!-- Contenido -->
  <ul class="sidebar-menu">
    <li class="sidebar-title" *ngIf="!isCollapsed">General</li>

 @for (route of permittedRoutes; track $index) {
  <li class="sidebar-item">
    <a
      routerLink="/app/{{ route.path }}"
      routerLinkActive="active"
      class="sidebar-link"
    >
      <span class="menu-text">{{ route.data?.['name'] || route.path }}</span>
    </a>
  </li>
}

  </ul>

  <!-- Pie / Logout -->
  <div class="sidebar-footer">
    <button class="btn-logout">
      <i class="fa-solid fa-right-from-bracket"></i>
      <span *ngIf="!isCollapsed">Cerrar sesión</span>
    </button>
  </div>
</nav>
