<div class="personajes-header">
  <button class="create-personaje-btn" (click)="abrirCrear()">
    <i class="fas fa-magic"></i>
    Crear personaje con IA
  </button>
</div>

<app-personajes-list
  [personajes]="personajes"
  [loading]="loadingPersonajes"
  [error]="errorPersonajes"
  (editar)="abrirEditar($event)"
  (eliminar)="eliminar($event)"
  (crear)="abrirCrear()">
</app-personajes-list>

<app-personajes-form
  *ngIf="showModal"
  [personaje]="personajeSeleccionado"
  (cerrar)="cerrarModal()"
  (guardado)="refrescar()">
</app-personajes-form>
