<div class="table-container table-responsive">
  <h3 class="mb-3">{{ title }}</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Email</th>
        <th>Photo</th>
        <th>Status</th>
         <th>role</th>
      </tr>
    </thead>
    <tbody>
      @for (item of users; track item.id) {
        <tr (dblclick)="onEditUser(item)">
          <td>{{ item.id }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.lastname }}</td>
          <td>{{ item.email }}</td>
          <td>{{ item.photo }}</td>
          <td>{{ item.status }}</td>
          <td>{{ item.role?.name }}</td>
        </tr>
      } @empty {
        <tr>
          <td colspan="7" class="text-center">No hay usuarios registrados</td>
        </tr>
      }
    </tbody>
  </table>
