<div class="login-container">
  <div class="d-flex align-items-center justify-content-center h-100">
    <div class="login-card">
      <div class="w-100">
        <div
          class="d-flex justify-content-between align-items-center mb-4 px-3 pt-3"
        >
          <div class="d-flex align-items-center">
            <img
              width="80"
              class="img-fluid mb-2"
              src="../../../../assets/icons/sopa_logo.png"
              alt="Logo"
            />
            <span class="logo-text">by SOPA TECHNOLOGIES</span>
          </div>

          <div class="nav-buttons">
            <a
              href="/signup"
              class="btn btn-primary btn-block w-100 dark-submit-btn"
              >Registrarse en Mahou Site</a
            >
            <div class="text-center mb-3"></div>
          </div>
        </div>

        <div class="text-center mb-3">
          <span class="divider-text"></span>
        </div>

        <div class="login-main">
          <form
            (ngSubmit)="passChange($event)"
            autocomplete="off"
            #frm="ngForm"
          >
            <div class="mb-4 text-center">
              <h1>Cambia tu contraseña</h1>
             
              <p style="color: #ffffff">
                Por favor agrega el correo y nueva contraseña, si el correo existe y está correcto la contraseña cambiará
              </p>
            </div>

            <div class="form-group mb-3">
              <label for="email" class="form-label mb-2"> Correo electrónico </label>
              <input
                #email ="ngModel"
                type="email"
                class="form-control"
                id="email"
                name="email"
                placeholder="Correo"
                [(ngModel)]="passForm.email"
                required
              />
            </div>
            <div class="form-group mb-4">
              <label for="password" class="form-label mb-2">Contraseña</label>
              <div class="form-input position-relative">
                <input
                  #password="ngModel"
                  type="password"
                  class="form-control mb-3"
                  id="password"
                  name="password"
                  placeholder="Contraseña"
                  [(ngModel)]="passForm.password"
                  required
                />
              </div>
            </div>

            <div class="form-group mb-4">
              <label for="passworConfirModel" class="form-label mb-2">Confirmar contraseña</label>
              <div class="form-input position-relative">
                <input
                  #password="ngModel"
                  type="password"
                  class="form-control mb-3"
                  id="passworConfirModel"
                  name="passworConfirModel"
                  placeholder="Confirme su contraseña"
                  [(ngModel)]="f.passwordConf"
                  required
                />
              </div>
            </div>

            <div class="form-group mb-3">
              <button
                class="btn btn-primary btn-block w-100 dark-submit-btn"
                type="submit"
              >
                Cambiar de Contraseña
              </button>
            </div>

            <div class="mb-4 text-center">
              <div class="text-center mb-3">
                <span class="divider-text">0</span>
              </div>
               <a href="/login" class="text-primary">Ir a Iniciar Sesion</a>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
