<div class="pass-container">
  <div class="d-flex justify-content-between align-items-center mb-4 px-3 pt-3">
    <div class="d-flex align-items-center">
     
      <img
        width="80"
        class="img-fluid mb-2"
        src="../../../../assets/icons/sopa_logo.png"
        alt="Logo"
      />


      <span class="logo-text">by SOPA TECHNOLOGIES</span>
      <div class="pass-main">
        <form 
        (ngSubmit)="passchange($event)"
            autocomplete="off"
            #frm="ngForm"
        >
            <div class="mb-4 text-center">
                <h1>
                    Ingrese su correo y nueva contraseña 
                </h1>
                <p>Si su correo existe su contraseña cambiará</p>
                <div>
                    <label for="email">Correo electrónico</label>
                    <input 
                    #email="ngModel"
                    type="text"
                    class="form-control"
                    id="email"
                    name="email"
                    placeholder="Correo electrónico"
                    [(ngModel)]="loginForm.email"
                    
                    >
                </div>

            </div>
        </form>

      </div>
    </div>
  </div>
</div>
