<div class="login-container">
  <div class="d-flex align-items-center justify-content-center h-100">
    <div class="login-card">
      <div class="w-100">
        <div
          class="d-flex justify-content-between align-items-center mb-4 px-3 pt-3"
        >
          <div class="d-flex align-items-center">
            <img
              width="80"
              class="img-fluid mb-2"
              src="../../../../assets/icons/sopa_logo.png"
              alt="Logo"
            />
            <span class="logo-text">by SOPA TECHNOLOGIES</span>
            <div class="text-center mb-3">
              <span class="divider-text"></span>
              <form autocomplete="off">
                
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
