<div class="game-container">
  <h2>Game Matchmaking</h2>
  <p>Online Users: {{ onlineUsersCount }}</p>
  
  <button 
    (click)="findMatch()" 
    [disabled]="isFindMatchDisabled"
    class="btn btn-primary">
    
    Buscar contrincante
  </button>
  
  <button 
    (click)="leaveQueue()" 
     [disabled]="isLeaveQDisabled"
    class="btn btn-primary px-1">
    Cancel Search
  </button>
  @if(errorJoin){
    <p class="text-danger mt-2">{{errorJoin}}</p>
  }
  <p *ngIf="message" class="message">{{ message }}</p>
</div>