<div class="modal-form-container">
    <div class="modal-header-custom">
        <h2>Borrar Historia</h2>
        <button type="button" class="btn-close-modal" (click)="cancel()">
            <i class="fas fa-times"></i>
        </button>
    </div>

    <p class="confirmation-message">
        ¿Estás seguro de que deseas borrar esta historia?
    </p>


    <div class="form-actions">
        <button type="button" (click)="cancel()" class="btn-cancel">
            Cancelar
        </button>

        <button (click)="deleteHistory(deleteHistoryForm.value.id)" class="btn-submit" [disabled]="loading()">
            <span *ngIf="!loading()">
                Aceptar
            </span>
            <span *ngIf="loading()">
                <i class="fas fa-spinner fa-spin"></i> Borrando...
            </span>
        </button>
    </div>

</div>