<div class="modal-form-container">

    <div class="modal-header-custom">
    <h2>{{ historyForm.value.id ? 'Editar Historia' : 'Nueva Historia' }}</h2>
    <button type="button" class="btn-close-modal" (click)="cancel()">
      <i class="fas fa-times"></i>
    </button>
  </div>

  <angular-editor 
    [placeholder]="'Escribe tu historia'"
    [(ngModel)]="historia.content" 
    [config]="editorConfig"
  />

  <div class="acciones">
    <button (click)="guardarManual()">Guardar</button>
  </div>

  @if (mensaje) {
    @if (mensajeTipo == 201) {
      <div class="success-message">
        {{ mensaje }}
      </div>
    } @else {
      <div class="error-message">
        {{ mensaje }}
      </div>
    }
  }
</div>