<div class="login-container">
  <div class="d-flex align-items-center justify-content-center h-100">
    <div class="login-card">
      <div class="w-100">
        <div
          class="d-flex justify-content-between align-items-center mb-4 px-3 pt-3"
        >
          <div class="d-flex align-items-center">
            <img
              width="80"
              class="img-fluid mb-2"
              src="../../../../assets/icons/sopa_logo.png"
              alt="Logo"
            />
            <span class="logo-text">by SOPA TECHNOLOGIES</span>
          </div>

          <div class="nav-buttons">
            <a
              href="/signup"
              class="btn btn-primary btn-block w-100 dark-submit-btn"
              >Registrarse en Mahou Site</a
            >
            <div class="text-center mb-3"></div>
          </div>
        </div>

        <div class="text-center mb-3">
          <span class="divider-text"></span>
        </div>

        <div class="login-main">
          <form
            (ngSubmit)="handleLogin($event)"
            autocomplete="off"
            #frm="ngForm"
          >
            <div class="mb-4 text-center">
              <h1>Iniciar Sesión</h1>
              <img
                width="300"
                class="img-fluid mb-2"
                src="../../../../assets/icons/logo@2x.png"
                alt="Logo"
              />
              <p style="color: #ffffff">
                Nos alegra verte otra vez. Inicia sesion para seguir donde
                quedaste.
              </p>
            </div>

            <div class="form-group mb-3">
              <label for="email" class="form-label mb-2"> Correo electrónico </label>
              <input
                #email="ngModel"
                type="text"
                class="form-control"
                id="email"
                name="email"
                placeholder="Correo"
                [(ngModel)]="loginForm.email"
                [ngClass]="{
                  'is-invalid': email.invalid && email.touched,
                  'is-valid': email.valid && email.touched
                }"
                required
              />
              <div *ngIf="email.invalid" class="invalid-feedback">
                Por favor ingresa un correo electrónico válido
              </div>
            </div>

            <div class="form-group mb-4">
              <label for="password" class="form-label mb-2">Contraseña</label>
              <div class="form-input position-relative">
                <input
                  #password="ngModel"
                  type="password"
                  class="form-control"
                  id="password"
                  name="password"
                  placeholder="Contraseña"
                  [(ngModel)]="loginForm.password"
                  [ngClass]="{
                    'is-invalid': password.invalid && password.touched,
                    'is-valid': password.valid && password.touched
                  }"
                  required
                />
                <div *ngIf="password.invalid" class="invalid-feedback">
                  Por favor ingresa tu contraseña
                </div>

                <div class="text-center">
                  <a href="/password" class="text-primary"
                    >¿Olvidó su contraseña? Recuperela
                  </a>
                </div>
              </div>
            </div>

            <div class="form-group mb-3">
              <button
                class="btn btn-primary btn-block w-100 dark-submit-btn"
                type="submit"
              >
                Iniciar
              </button>
              @if(loginError) {
              <p class="text-danger">{{ loginError }}</p>
              }
            </div>

            <div class="mb-4 text-center">
              <div class="text-center mb-3">
                <span class="divider-text">0</span>
              </div>

              <div class="text-center">
                <p style="color: #ffffff">Registrate con tu cuenta de Google</p>
              </div>
            </div>

            <div class="form-group mb-3 text-center">
              <button
                type="button"
                class="btn btn-primary btn-block w-100 dark-submit-btn"
                id="google-signin-button"
              >
                <img
                  src="https://www.google.com/favicon.ico"
                  width="20"
                  class="me-2"
                  alt="Google"
                />
                Registrarse
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
