<div class="row categories-list-container">
    @for (item of categories; track $index){
        <div class="col-12 col-md-3 categories-list-container">
            <div class="row">
                <div class="col-12 col-md-3 categories-list-item">
                    <div class="col-4 d-flex gap-2 justify-content-center" >
                    <p class ="title mb-0">{{item.name}}</p>
                </div>
                <div class="col-4 d-flex align-items-center">
                    <p class="title mb-0">{{ item.description }}</p>
                </div>
                <div class="col-4 d-flex gap-2 justify-content-end align-items-start">
                    <button type="button" class="btn btn-sm btn-success" (click)="callEditMethod.emit(item)">
                        
                        <i class="fas fa-pencil-alt"></i>
                    </button>

                    <button type="button" class="btn btn-sm btn-danger" (click)="callDeleteMethod.emit(item)">
                        
                        <i class="fas fa-trash"></i>
                    </button>
                </div>"
                </div>

            </div>

        </div>
        
    }
</div>
